<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>user</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.0/css/bootstrap.css}" />
</head>
<body class="container">
<br/>
<h1>修改用户</h1>
<br/><br/>
<div class="with:80%">
    <form class="form-horizontal"   th:action="@{/user/edit}" th:object="${user}"  method="post">
        <input type="hidden" name="id" th:value="*{id}" />
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="username"  id="username" th:value="*{username}" placeholder="用户名"/>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label" >密码</label>
            <div class="col-sm-4">
                <input type="passWord" class="form-control" name="password" id="password"  th:value="*{password}" placeholder="密码"/>
            </div>
        </div>
        <div class="form-group">
            <label for="realName" class="col-sm-2 control-label" >真实姓名</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="realName" id="realName"  th:value="*{realName}" placeholder="真实姓名"/>
            </div>
        </div>
        <div class="radio">
            <label  class="col-sm-1 control-label">性别</label>
            <label><input type="radio" name="gender" id="gender1" th:value="男" th:checked="*{gender == '男'}">男</label>
            <label><input type="radio" name="gender" id="gender2" th:value="女" th:checked="*{gender == '女'}">女</label>
            <!--<&#45;&#45; showState为值 &ndash;&gt;
            <input type="radio"  name="showState"  th:value="0" th:checked="${showState==0}"/>显示
            <input type="radio"  name="showState"  th:value="1" th:checked="${howState==1 }"/>隐藏
            <&#45;&#45; showState为对象属性 &ndash;&gt;
            <input type="radio"  name="showState"  th:value="0" th:field="*{showState}"/>显示
            <input type="radio"  name="showState"  th:value="1" th:field="*{showState}"/>隐藏-->
        </div>
        <div class="form-group">
            <label for="phone" class="col-sm-2 control-label" >手机号</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="phone" id="phone"  th:value="*{phone}" placeholder="手机号"/>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label" >邮箱</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" name="email" id="email"  th:value="*{email}" placeholder="邮箱"/>
            </div>
        </div>

        <div class="form-group">
            <label for="createTIme" class="col-sm-2 control-label" >创建时间</label>
            <div class="col-sm-4">
                <input type="creatTime" class="form-control" name="createTime" id="createTIme"  th:value="*{createTime}" placeholder="创建时间"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="提交" class="btn btn-info" />
                <a href="/user/list" th:href="@{/user/list}" class="btn btn-info">返回</a>
            </div>

        </div>
    </form>
</div>
</body>
</html>