<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<p>Thymeleaf是一个用于Web和独立环境的现代服务器端Java模板引擎。SpringBoot推荐使用Thymeleaf</p>
<p>下面是表格示例：</p>
<table border="1">
    <thead>
    <tr>
        <th width="100">ID</th>
       <!-- <th width="100">用户名</th>
        <th width="100">密码</th>-->
        <th width="100">手机号</th>
        <th width="100">邮箱</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${ pageInfo.getRecords()}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.userName}"></td>
        <td th:text="${user.passWord}"></td>
        <td th:text="${user.phone}"></td>
        <td th:text="${user.email}"></td>
    </tr>
    </tbody>
</table>
<p>
    <a th:href="${'/user/list?pageNum=' + (pageInfo.getPages()-1 >= 1? pageInfo.getPages()-1 : 1) + '&pageSize=10'}">上一页</a>

    <a th:href="${'/user/list?pageNum=' + (pageInfo.getPages()+1 <= pageInfo.getPages()? pageInfo.getPages()+1 : pageInfo.getPages()) + '&pageSize=10'}">下一页</a>
    总数：<span th:text="${pageInfo.getTotal()}"></span>
</p>
</body>
</html>