<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.megvii.springboot.mapper.SysRoleMapper">
    <resultMap type="com.megvii.springboot.model.SysRole" id="roleRetMap">
        <id property="id" column="id"/>
        <result property="roleName" column="role_name"/>
        <result property="roleDesc" column="role_desc"/>
    </resultMap>
    <!-- 根据用户id获取用户角色 -->
    <select id="selectRoleById" parameterType="java.lang.Integer" resultMap="roleRetMap">
        SELECT * FROM sys_role WHERE id = #{id}
    </select>

    <select id="selectRoleByName" parameterType="java.lang.String" resultMap="roleRetMap">
        SELECT * FROM sys_role WHERE role_name = #{roleName}
    </select>

</mapper>